body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff6347;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ff6347;
    color: white;
}
.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.section-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.section-links a {
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}
.section-links a:hover {
    color: #e5533d;
}
.recipe {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}
.recipe img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}
.recipe h2 {
    color: #ff6347;
}
.recipe h3 {
    color: #333;
}
.recipe ul, .recipe ol {
    padding-left: 20px;
}
.form-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container form p {
    margin-bottom: 10px;
}
.form-container form label {
    margin-bottom: 5px;
}
.form-container form input,
.form-container form select,
.form-container form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container form input[type="submit"] {
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
.form-container form input[type="submit"]:hover {
    background-color: #e5533d;
}